<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/layout/default}">

	<th:block layout:fragment="customJs">
		<script th:src="@{/js/jquery-3.7.1.js}"></script>
	</th:block>
	
	<th:block layout:fragment="customJsCode">
		<script>
			$("#resetBtn1").click(function(){
				$("#inputBugetForm > div > div > input").val('');
			});
			
			$("#resetBtn2").click(function(){
				$("#inputBugetByRegionForm > div > div > input").val('');
				$("#inputBugetByRegionForm > div > div > select").val('');
			});
		</script>
	</th:block>
	
  <body id="page-top">

	<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
	<th:block layout:fragment="customContents">
        <div class="col-md-12 col-sm-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h2>예산 등록</h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content" >
              <form id="inputBugetForm" class="form-horizontal form-label-left">

                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">연도</label>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input id="inputYear" type="number" class="form-control" placeholder="연도를 입력하세요 예)2023">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">예산</label>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input id="inputBudget" type="number" class="form-control" placeholder="전국 단위 예산 금액을 입력하세요(단위 : 1억 원)">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">1인당 지원 예산</label>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input id="inputBudget" type="number" class="form-control" placeholder="1인 기준 최대 지원금액을 입력하세요(단위 : 원)">
                  </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group row">
                  <div class="col-md-9 offset-md-3">
                    <button id="resetBtn1" type="button" class="btn btn-primary">초기화</button>
                    <button type="submit" class="btn btn-success">등록</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
          
          <div class="x_panel">
            <div class="x_title">
              <h2>지역 단위 예산 등록</h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content" >
              <form id="inputBugetByRegionForm" class="form-horizontal form-label-left">

                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">연도</label>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input id="inputYear" type="number" class="form-control" placeholder="연도를 입력하세요 예)2023">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">지역</label>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                  	<select id="inputRegion" class="form-control">
                  		<option value="">=====지역을 선택하세요=====</option>
                  		<option value="11">서울특별시</option>
                  		<option value="21">부산광역시</option>
                  		<option value="24">광주광역시</option>
                  	</select>  
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">예산</label>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input id="inputBudget" type="number" class="form-control" placeholder="해당 지역에 배정된 예산을 입력하세요">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">지원 대상 인원</label>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input id="inputBudget" type="number" class="form-control" placeholder="해당 지역의 발급 대상 인원수를 입력하세요">
                  </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group row">
                  <div class="col-md-9 offset-md-3">
                    <button id="resetBtn2" type="button" class="btn btn-primary">초기화</button>
                    <button type="submit" class="btn btn-success">등록</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
		</div>	
	</th:block>

  </body>

</html>
