<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/user/css/shop.css}"/>
    <link rel="stylesheet" th:href="@{/user/css/news.css}"/>
    <link rel="stylesheet" th:href="@{/user/css/css/animate/animate.min.css}">
    <link rel="stylesheet" th:href="@{/user/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

        <div class="col-lg-3">
            <div class="shop-p1-title">
                <h3>마이페이지</h3>
                <div class="heading-border-light"></div>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">로그인</a>
                <a href="#" class="list-group-item">아이디 찾기</a>
                <a href="#" class="list-group-item">비밀번호 찾기</a>
                <a href="#" class="list-group-item">회원가입</a>
            </div>
        </div>

</th:block>





</html>