<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title th:text="${title}"></title>
	<link rel="shortcut icon" th:href="@{/user/img/favicon.ico}">

	<!-- Global Stylesheets -->
	<link th:href="@{https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i}" rel="stylesheet">
	<link th:href="@{/user/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/user/font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/user/css/animate/animate.min.css}">
	<link rel="stylesheet" th:href="@{/user/css/owl-carousel/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/user/css/owl-carousel/owl.theme.default.min.css}">
	<link rel="stylesheet" th:href="@{/user/css/shop.css}"/>
	<link rel="stylesheet" th:href="@{/user/css/news.css}"/>
	<link rel="stylesheet" th:href="@{/user/css/style.css}">
	<link rel="stylesheet" th:href="@{/user/css/shop.css}"/>
	<link rel="stylesheet" th:href="@{/user/css/about.css}">
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">


			<!-- top navigation -->
			<div th:replace="~{user/fragments/header :: headerFragment}"></div>
			<!-- /top navigation -->

			<!-- page content -->
			<th:block layout:fragment="customContents" th:fragment="~{user/fragments/aside}">


			</th:block>
			<!-- /page content -->

			<!-- footer content -->
			<div th:replace="~{user/fragments/footer :: footerFragment}"></div>
			<!-- /footer content -->



			<!--Global JavaScript -->
			<script th:src="@{/user/js/jquery/jquery.min.js}"></script>
			<script th:src="@{/user/js/popper/popper.min.js}"></script>
			<script th:src="@{/user/js/bootstrap/bootstrap.min.js}"></script>
			<script th:src="@{/user/js/wow/wow.min.js}"></script>
			<script th:src="@{/user/js/owl-carousel/owl.carousel.min.js}"></script>

			<!-- Plugin JavaScript -->
			<script th:src="@{/user/js/jquery-easing/jquery.easing.min.js}"></script>
			<script th:src="@{/user/js/custom.js}"></script>

			<th:block layout:fragment="customJsFile"></th:block>
			<th:block layout:fragment="customJsCode"></th:block>
	</body>

</html>





