<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <style>
    	#carouselExampleIndicators{
    		height:300px;
    		text-align:center;
    	}
    	
    	#budgetInfo h1{
    		margin: 10px;
    	}
    	
    	#inputBudgetInfo { 
    		width:100%;
    		margin: 8px;
    	}
    	
    	#inputBudgetInfo td > input{
    		width:100%;
    	}
    	
    	#inputBudgetInfo label {
    		margin: 8px 8px 8px 0px;
    	}
    	
    	#inputBudgetInfo input { 
    		width:100%;
    		margin: 8px 0 8px 0px;
    	}
    	
    	#inputBudgetInfoBtn {
    		width:50%;
    		text-align: "center";
    	}
    	
    </style>
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">
</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <section id="shop-p1" class="shop-p1">
        <div class="container">
            <div class="row">
               
                <div th:replace="~{user/fragments/aside :: mypageAsideOfficer}"></div>
		        <div class="col-lg-9">
		        	마이페이지 - 공무원
		        	공무원 상세정보 조회/수정
		        	<div id="budgetInfo" class="col-lg-9">
	            <h1>문화누리카드 예산 등록</h1>
	            <div class="">
	            	정확한 값을 입력해주세요!
	            </div>
	            
	            <div class="inputlist">
	            	<form id="inputBudgetInfo" th:action="@{#}" method="get">
						<table>
							<tbody>
								<tr>
									<td><label for="bugetYear">적용되는 연도</label></td>
									<td colspan="2"><input type="number" id="bugetYear" name="bugetYear" placeholder="2023"></td>
								</tr>
								<tr>
									<td><label for="budgetRegion">적용되는 지역</label></td>
									<td>
										<select id="budgetRegion" name="budgetRegion">
											<option value="">전국</option>
											<option value="">지역</option>
										</select>
									</td>
									<td>
										<select id="budgetRegion" name="budgetRegion">
											<option value="">서울특별시</option>
											<option value="">부산광역시</option>
											<option value="">대구광역시</option>
											<option value="">인천광역시</option>
											<option value="">광주광역시</option>
											<option value="">대전광역시</option>
											<option value="">울산광역시</option>
											<option value="">세종특별자치시</option>
											<option value="">경기도</option>
											<option value="">강원도</option>
											<option value="">충청북도</option>
											<option value="">충청남도</option>
											<option value="">전라북도</option>
											<option value="">전라남도</option>
											<option value="">경상북도</option>
											<option value="">경상남도</option>
											<option value="">제주특별자치도</option>
										</select>
									</td>
								</tr>
								<tr>
									<td><label for="budgetAmount">적용되는 예산(단위 : 원)</label></td>
									<td colspan="2"><input type="text" id="budgetAmount" name="budgetAmount" placeholder="배정된 예산을 입력해주세요"></td>
								</tr>
								<tr>
									<td><label for="budgetByPerson">1인당 지원 금액(단위 : 원)</label></td>
									<td colspan="2"><input type="text" id="budgetByPerson" name="budgetByPerson" placeholder="1인당 지원 금액을 입력해주세요"></td>
								</tr>
								<tr>
									<td><label for="budgetNOP">해당 지역의 발급 대상 인원</label></td>
									<td colspan="2"><input type="text" id="budgetNOP" name="budgetNOP" 
									placeholder="발급 대상 인원 수를 입력해주세요" disabled="disabled"></td>
								</tr>
			
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">
										<button type="button" id="inputBudgetInfoBtn">등록</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</form>
	            </div>
	          </div> 
		        	
		        </div>
            </div>
        </div>
    </section>

</th:block>
</html>


