<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layout/default}">
<head>

</head>
<body>
<section id="single-news-p1" class="single-news-p1">
      <div class="container">
        <div class="row">

          <!-- left news details -->
          <div class="col-md-8">
            <div class="single-news-p1-cont">
              <div class="single-news-img">
                <img src="@{#}" alt="" class="img-fluid">
              </div>
              <div class="single-news-desc">
                <h3>오펜하이머</h3>
                <ul class="list-inline">
                  <li>개봉일: <span class="text-theme-colored2"></span></li>
                  <li>기간: <span class="text-theme-colored2"></span></li>
                  <li><i class="fa fa-comments-o"></i>내용</li>
                </ul>
                <hr>
                <div class="bg-light-gray">
                  <p>개요</p>
                  <p>설명  
                  <blockquote class="blockquote">
                  <p class="mb-0">줄거리</p>
                  <footer class="blockquote-footer">
                    <cite title="Source Title"></cite>
                  </footer>
                  </blockquote>
                </div>
                 </div>
            </div>
          </div> 
        </div>
      </div>
    </section>
</body>
</html>