<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="col-md-3 left_col" th:fragment="asideFragment">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
			<a th:href="@{/admin}" class="site_title">
				<i class="fa fa-paw"></i>
				<span>관리자 페이지</span>
			</a>
		</div>

		<div class="clearfix"></div>

		<!-- menu profile quick info -->
		<div class="profile clearfix">
			<div class="profile_pic">
				<img th:src="@{/admin/images/img.jpg}" alt="..." class="img-circle profile_img">
			</div>
			<div class="profile_info">
				<span>환영합니다!</span>
				<h2>홍관리자님</h2>
			</div>
		</div>
		<!-- /menu profile quick info -->


		<!-- sidebar menu -->
		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section nav side-menu">
				<ul class="nav side-menu">
					<li><a th:href="@{/user/}">
						<span><i class="fa fa-bug"></i> 사용자페이지로 이동</span>
					</a></li>
				</ul>
			</div>
			<br/>
			<div class="menu_section">
				<h3>회원 관리</h3>
				<ul class="nav side-menu">
					<li>
						<a><i class="fa fa-home"></i> 회원 관리 <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a th:href="@{/admin/user/userInfoList}">회원 목록</a></li>
							<li><a th:href="@{/admin/user/userInfoRegister}">회원 등록</a></li>
						</ul>
					</li>
					<li><a><i class="fa fa-edit"></i>공무원/행정 관리 <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a th:href="@{/admin/region/regionList}">지역 목록</a></li>
							<li><a th:href="@{/admin/district/districtList}">행정지역 목록</a></li>
							<li><a th:href="@{/admin/department/depList}">행정기관 목록</a></li>
						</ul>
					</li>
					<li><a><i class="fa fa-edit"></i>예산 관리 <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a th:href="@{/admin/budget/budgetRegist}">예산 등록</a></li>
							<li><a th:href="@{/admin/budget/budgetInfo}">예산 조회(전국 단위 예산, 1인당 지원 금액)</a></li>
							<li><a th:href="@{/admin/budget/budgetInfoRegion}">예산 조회(지역 단위 예산, 지역별 발급대상인원)</a></li>
						</ul>
					</li>
					<li><a><i class="fa fa-desktop"></i> 가맹점 관리 <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a th:href="@{/admin/store/storeInfoList}">가맹점 목록</a></li>
							<li><a th:href="@{/admin/store/storeInfoSpecific}">가맹점 검색</a></li>
						</ul>
					</li>
					<li><a><i class="fa fa-table"></i> 컨텐츠 관리 <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a th:href="@{/admin/contents/contentsInfoList}">컨텐츠 목록</a></li>
							<li><a th:href="@{/admin/contents/contentsInfoSpecific}">컨텐츠 검색</a></li>
						</ul>
					</li>
					<li><a><i class="fa fa-bar-chart-o"></i> 게시판 관리 <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a th:href="@{/admin/board/boardCateInfo}">게시판 컨텐츠 관리</a></li>
							<li><a th:href="@{/admin/board/boardContentRegist}">게시판 컨텐츠 등록</a></li>
						</ul>
					</li>
					<li><a><i class="fa fa-clone"></i> 결제/예약/정산 관리 <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a th:href="@{/admin/purchase/reservationInfo}">예약내역 조회</a></li>
							<li><a th:href="@{/admin/purchase/purchaseInfo}">결제내역 조회</a></li>
							<li><a th:href="@{/admin/purchase/adjInfoRegion}">정산내역 조회(지역별)</a></li>
							<li><a th:href="@{/admin/purchase/adjInfoCate}">정산내역 조회(업종별)</a></li>
							<li><a th:href="@{/admin/purchase/adjInfoRegionCate}">정산내역 조회(지역+업종별)</a></li>
							<li><a th:href="@{/admin/purchase/adjInfoStore}">정산내역 조회(가맹점)</a></li>
						</ul>
					</li>
					<li><a><i class="fa fa-clone"></i> 통계 관리 <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a th:href="@{/admin/statistic/storeStt}">가맹점별 통계 조회</a></li>
							<li><a th:href="@{/admin/statistic/cateStt}">업종별 통계 조회</a></li>
							<li><a th:href="@{/admin/statistic/regionStt}">도별 통계 조회</a></li>
							<li><a th:href="@{/admin/statistic/districtStt}">시군별 통계 조회(보류)</a></li>
							<li><a th:href="@{/admin/statistic/regionCateStt}">도 및 업종별 통계 조회</a></li>
							<li><a th:href="@{/admin/statistic/budgetUseage}">예산 사용률 조회</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="menu_section">
				<h3>지원</h3>
				<ul class="nav side-menu">
					<li><a th:href="@{/admin/support}">
						<i class="fa fa-bug"></i> 고객지원 <span class="fa fa-chevron-down"></span></a>
					</li>
				</ul>
			</div>

		</div>


	</div>
</div>
</html>