<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<!--==================================================
                       ASIDE
==================================================-->

    <!-- regist aside start -->
    <div th:fragment="aboutAside">
        <div class="col-lg-3">
            <div class="shop-p1-title">
                <h3>소개</h3>
                <div class="heading-border-light"></div>
            </div>
            <div class="list-group">
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 서비스</a>
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 가맹점</a>
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 데이터</a>
            </div>
        </div>
    </div>
    <!-- regist aside end -->

    <!-- contentsAside start -->
    <div th:fragment="contentsAside">
        <div class="col-lg-3">
            <div class="shop-p1-title">
                <h3>마이페이지</h3>
                <div class="heading-border-light"></div>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">로그인</a>
                <a href="#" class="list-group-item">아이디 찾기</a>
                <a href="#" class="list-group-item">비밀번호 찾기</a>
                <a href="#" class="list-group-item">회원가입</a>
            </div>
        </div>
    </div>
    <!-- contentsAside end -->

    <!-- boardAside start -->
    <div th:fragment="boardAside">
        <div class="col-lg-3">
            <div class="shop-p1-title">
                <h3>마이페이지</h3>
                <div class="heading-border-light"></div>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">로그인</a>
                <a href="#" class="list-group-item">아이디 찾기</a>
                <a href="#" class="list-group-item">비밀번호 찾기</a>
                <a href="#" class="list-group-item">회원가입</a>
            </div>
        </div>
    </div>
    <!-- boardAside end -->

    <!-- mypageAside start -->
    <div th:fragment="mypageAside">
        <div class="col-lg-3">
            <div class="shop-p1-title">
                <h3>마이페이지</h3>
                <div class="heading-border-light"></div>
            </div>
            <div class="list-group">
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 데이터</a>
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 데이터</a>
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 데이터</a>
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 데이터</a>
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 데이터</a>
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 데이터</a>
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 데이터</a>
                <a th:href="@{/user/about/nuriService}" class="list-group-item">누리컬쳐 데이터</a>
            </div>
        </div>
    </div>
    <!-- mypageAside end -->

    <!-- registAside start -->
    <div th:fragment="registAside">
        <div class="col-lg-3">
            <div class="shop-p1-title">
                <h3>마이페이지</h3>
                <div class="heading-border-light"></div>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">로그인</a>
                <a href="#" class="list-group-item">아이디 찾기</a>
                <a href="#" class="list-group-item">비밀번호 찾기</a>
                <a href="#" class="list-group-item">회원가입</a>
            </div>
        </div>
    </div>
    <!-- registAside end -->
</html>
