<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/user/css/shop.css}"/>
    <link rel="stylesheet" th:href="@{/user/css/news.css}"/>
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}"/>
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <section id="shop-p1" class="shop-p1">
        <div class="container">
            <div class="row">
               
                <div th:replace="~{user/fragments/aside :: mypageAsideUser}"></div>
		        <div class="col-lg-9">
		        	마이페이지 - 사용자
		        	
		        </div>
            </div>
        </div>
    </section>

</th:block>
</html>