<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/layout/default}">

	<th:block layout:fragment="customJs">
		<script th:src="@{/admin/js/jquery-3.7.1.js}"></script>
	</th:block>
	
	<th:block layout:fragment="customJsCode">
		<script>
			$('#buttonGroup').click(function(){
				//1. 검색조건 중 분야에서 선택된 값 가져오기
				const inputValue = $("input[type=radio][name=radio]:checked").val();
				console.log(inputValue);
				
				//2. 선택된 값에 따라서 입력칸 활성화시키기
				
				
			})

			
			$('#searchBtn').click(function(){
				
				
			})		
		</script>
	</th:block>
	
  <body id="page-top">

	<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
	<th:block layout:fragment="customContents">
	
		
		<div class="" role="main">

			<div class="clearfix"></div>
  
   			<div class="col-md-12 col-sm-12 col-xs-12">
     			<div class="x_panel">
       				<div class="x_title">
         				<h2>검색 조건</h2>
	                      <a class="collapse-link navbar-right"><i class="fa fa-chevron-up"></i></a>
         				<div class="clearfix"></div>
       				</div>
	       			<div class="x_content">
						<br />
                    	<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
						  <div class="form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12">분야 선택</label>
	                        <div class="col-md-6 col-sm-6 col-xs-12">
	                          <div id="buttonGroup" class="btn-group" data-toggle="buttons">
	                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
	                              <input type="radio" name="radio" value="region"> &nbsp; 지역별 &nbsp;
	                            </label>
	                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
	                              <input type="radio" name="radio" value="cate"> &nbsp; 업종별 &nbsp;
	                            </label>
	                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
	                              <input type="radio" name="radio" value="regioncate"> &nbsp; 지역,업종별 &nbsp;
	                            </label>
	                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
	                              <input type="radio" name="radio" value="store"> &nbsp; 가맹점별 &nbsp;
	                            </label>
	                          </div>
	                        </div>
	                      </div>
							
	                      <div class="form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> 지역 입력 </label>
	                        <div class="col-md-6 col-sm-6 col-xs-12">
	                          <select class="form-control" disabled="disabled">
	                          	<option> === 지역을 선택해주세요 ===</option>
	                          </select>
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> 업종 입력 </label>
	                        <div class="col-md-6 col-sm-6 col-xs-12" disabled="disabled">
	                          <select class="form-control" disabled="disabled">
	                          	<option> === 업종을 선택해주세요 ===</option>
	                          </select>
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> 가맹점 코드</label>
	                        <div class="col-md-6 col-sm-6 col-xs-12">
	                          <input type="text" id="" name="" class="form-control col-md-7 col-xs-12" 
	                          placeholder="가맹점 코드를 입력해주세요" disabled="disabled">
	                        </div>
	                      </div>
	                      
	                      <div class="form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12 ">검색 기간</label>
	                        <div>
	                          	<input type="date">
	                          	&nbsp;~&nbsp;
	                          	<input type="date">
	                        </div>
	                      </div>
	                      
	                      <div class="ln_solid"></div>
	                      <div class="form-group">
	                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" >
	                          <button type="button" class="btn btn-primary" id="resetBtn">초기화</button>
	                          <button type="submit" class="btn btn-success" id="searchBtn">검색</button>
	                        </div>
	                      </div>
                    	</form>
			        </div>
			     </div>
			     
			     <div class="clearfix"></div>
			     
			     <div class="col-md-12 col-sm-12 col-xs-12">
		   			<div class="x_panel">
		       			<div class="x_title">
			       			<h2>검색 결과</h2>
		                      <a class="collapse-link navbar-right"><i class="fa fa-chevron-up"></i></a>
	         				<div class="clearfix"></div>
	         			</div>
	                  <div class="x_content">
		         			<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
					           <thead>
					             <tr>
					               <th><input type="checkbox" id="check-all" class="flat"></th>
				                   <th>가맹점명</th>
				                   <th>정산 일자</th>
				                   <th>지역</th>
				                   <th>업종</th>
				                   <th>컨텐츠명</th>
				                   <th>금액</th>
				                   <th>정산코드</th>
					             </tr>
					           </thead>
		
		               		   <tbody>
				                 <tr>
				                   <td><input type="checkbox" id="check-all" class="flat"></td>
				                   <td>가맹점A</td>
				                   <td>2023-10-18</td>
				                   <td>전라북도 전주시</td>
				                   <td>도서</td>
				                   <td>도서A</td>
				                   <td>30000</td>
				                   <td>adjd20231018</td>
				                 </tr>
				                 <tr>
				                   <td><input type="checkbox" id="check-all" class="flat"></td>
				                   <td>가맹점B</td>
				                   <td>2023-07-18</td>
				                   <td>서울특별시 종로구</td>
				                   <td>공연</td>
				                   <td>연극</td>
				                   <td>43000</td>
				                   <td>adjd20230718</td>
				                 </tr>
		                 		</tbody>
		             		</table>
		             		<div class="pull-right">
		             			<h5>총 정산 금액 : 원</h5>
		             		</div>
		           		</div>
	       			</div>
				</div>
			</div>
		</div>

	</th:block>
  </body>
</html>
